/* Write your CSS here */
.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.desc {
  font-size: 14px;
  color: #475569;
}
.img {
  width: 40px;
  padding: 10px;
  margin-right: 10px;
}
